.header{
    width: 100%;
    height: auto;
    padding: 20px;
    /* background: white; */
}
.header_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header_logo{
    width: 200px;

    
}
.header_parrafo{
    text-align: center;
    color: white;
    max-width: 600px;
    font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}
.header_parrafo h1{
    margin-bottom: 18px;
}
.header_logo img{
    width: 100%;
    border-radius: 100%;
    border: solid 6px rgb(255, 255, 255);
 
    margin-bottom: 17px;
}
.header_buttom_whatsapp{
    
    margin-top: 1.7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}
.header_buttom_whatsapp a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: #80ff74;
    gap: 20px;
    border-radius: 12px;
    font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
    text-decoration: none;
    color: black;
    transition: 0.3s all;
    
}
.header_buttom_whatsapp a:hover{
    background: #286822;
    color: white;
}